<div class="container">
  <div class="row mb-5 pb-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="home-card-holder-one fade-short">
        <div class="home-card-padding">
          <h6 class="lead display-4 text-white home-card-title">{{"home.cards.work.title" | translate:user}}</h6>
          <hr class="hr-light">
          <p class="lead text-white">{{"home.cards.work.description" | translate:user}}</p>
          <a class="lead text-white pointer" routerLink="/news-feed/1">{{"home.cards.work.link" | translate:user}}</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="home-card-holder-two fade-medium">
        <div class="home-card-padding-middle">
          <h6 class="lead display-4 text-white home-card-title">{{"home.cards.about.title" | translate:user}}</h6>
          <hr class="hr-light">
          <p class="lead text-white">{{"home.cards.about.description" | translate:user}}</p>
          <a class="lead text-white pointer" routerLink="/about-us">{{"home.cards.about.link" | translate:user}}</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="home-card-holder-one fade-long">
        <div class="home-card-padding">
          <h6 class="lead display-4 text-white home-card-title">{{"home.cards.goals.title" | translate:user}}</h6>
          <hr class="hr-light">
          <p class="lead text-white">{{"home.cards.goals.description" | translate:user}}</p>
          <a class="lead text-white pointer" routerLink="/news-feed/1">{{"home.cards.goals.link" | translate:user}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="jumbotron mb-0">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
        <p class="lead">{{"home.intro.description" | translate:user}}</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
        <a class="btn btn-outline-secondary" routerLink="/news-feed/1" role="button">{{"home.intro.link" | translate:user}}</a>
      </div>
    </div>
  </div>
</div>