ul {
  text-decoration: none;
  list-style-type: none;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a, a:active, a:focus, button, button:hover, button:active, button:focus {
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

@-ms-viewport{
  width: device-width;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

body {
  font-family: Lato;
  padding: 0px;
  margin: 0px;
  background: url("assets/design/header.png") no-repeat scroll top right;
  background-attachment: scroll;
  background-size: 100% 600px;
}

.material-icons, .icon-text {
  vertical-align: middle !important;
  padding-bottom: 3px;
}

.error-message {
  color: #FF6666; 
}

.hr-light {
  background-color: #ffffff;
}

.pointer {
  cursor: pointer;
}

.cross {
  cursor: not-allowed;
}

.custom-card-margin {
  margin-top: 100px;
  margin-bottom: 100px;
}

.dropzone-default {
  width: 100%;
  background: #FCFCFC;
  border: 2px solid #D8D8D8; 
  border-radius: 5px;
}

.dropzone-image {
  width: 100%;
  height: 175px;
  border-top: 1px solid #D8D8D8; 
  border-right: 1px solid #D8D8D8; 
  border-left: 1px solid #D8D8D8; 
}

.dropdown-remove-button {
  padding: 5px 0px;
  cursor: pointer;
  border-bottom: 1px solid #D8D8D8; 
  border-right: 1px solid #D8D8D8; 
  border-left: 1px solid #D8D8D8;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.btn-c {
  display: inline-block;
  background: #ffffff;
  margin-bottom: 0;
  font-weight: 1000;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
}

.btn-c:hover {
  text-decoration: none;
}

.btn-outline-gray {
  font-size: 18px;
  font-style: bold;
  color: #252525;
  border: 2px solid #D8D8D8;
}

.btn-outline-gray:hover {
  background: #D8D8D8;
  color: #ffffff;
}

.page-link-black {
  color: #252525;
}

.image-height-limit {
  max-height: 400px;
}

.image-height-limit-half {
  max-height: 200px;
}

.default-paragraph {
  max-height: 400px;
  margin-bottom: 50px;
}

.default-overflow {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.default-overflow-v2 {
  white-space: nowrap;
  /*max-width: 98%;*/
  overflow: hidden !important;
  text-overflow: ellipsis;
}


/*Fade*/
.fade-short {
  position: relative;
  animation-name: fade;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.fade-medium {
  position: relative;
  animation-name: fade;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

.fade-long {
  position: relative;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes fade {
  
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }

}