<div class="container-fluid"> 
  <div class="container">
    <div class="row custom-padding-login">
      <div class="col-12 col-sm-12 col-md-12 offset-lg-2 offset-xl-3"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-6">
        <div class="card fade-short pb-3">
          <h5 class="card-header text-center">
            <i class="material-icons">
            person
            </i>
            Login
          </h5>
          <div class="card-body">
            <form autocomplete="off" #f="ngForm" (ngSubmit)="login()">
              <div class="form-group">
                <label for="emnailInput">Email address</label>
                <input type="email" class="form-control" id="emnailInput" aria-describedby="emailHelp" placeholder="Enter email"
                required [(ngModel)]="model.email" name="email" #email="ngModel">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors.required" class="error-message mt-2">
                    Email is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="passwordInput">Password</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Password" required [(ngModel)]="model.password" name="password" #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                  <div *ngIf="password.errors.required" class="error-message mt-2">
                    Password is required
                  </div>
                </div>
              </div>
              <button class="btn btn-outline-secondary mt-3 pl-4 pr-4 pt-2 pb-2 float-right pointer" type="submit" [disabled]="!f.valid">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>