<div class="container">
  <div class="row mb-5 pb-5">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="home-card-holder-one fade-short">
        <div class="home-card-padding">
          <h6 class="lead display-4 text-white home-card-title">Our work</h6>
          <hr class="hr-light">
          <p class="lead text-white">We work on a lot of projects which focus on our local community. So far we have done a lot in our Town.</p>
          <a class="lead text-white pointer" routerLink="/news-feed/1">Check More</a>
           
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="home-card-holder-two fade-medium">
        <div class="home-card-padding-middle">
          <h6 class="lead display-4 text-white home-card-title">About us</h6>
          <hr class="hr-light">
          <p class="lead text-white">We are the school parliament of Travnik, we do all sorts of projects that help us and the community.</p>
          <a class="lead text-white pointer" routerLink="/about-us">Check More</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
      <div class="home-card-holder-one fade-long">
        <div class="home-card-padding">
          <h6 class="lead display-4 text-white home-card-title">Our goals</h6>
          <hr class="hr-light">
          <p class="lead text-white">We plan to expand our services to the entire nation in order to shape our country in a better way.</p>
          <a class="lead text-white pointer" routerLink="/news-feed/1">Check More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="jumbotron mb-0">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-10">
        <p class="lead">This website is designed for the International University of Travnik Student Parliament, and serves for their neccessary needs. On this website you can see events, news and projects the students of the International University of Travnik have done and made. To read more about the given projects check out the news feed.</p>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2">
        <a class="btn btn-outline-secondary" routerLink="/news-feed/1" role="button">Check out</a>
      </div>
    </div>
  </div>
</div>