<div class="container-fluid">
  <div class="container">
   <div id="carouselControlls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <img class="d-block w-100 image-height-limit" src="{{getFirstPicture()}}" alt="slide">
        </div>
        <div *ngFor="let picture of filteredPictures; let i = index" [attr.data-index]="i" class="carousel-item">
          <img class="d-block w-100 image-height-limit lead" src="{{picture.url}}" alt="slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselControlls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselControlls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="mt-2 mb-5 pb-5">
      <h5 class="lead display-3">{{post.title}}</h5>
      <hr>
      <p class="lead">{{post.description}}</p>
    </div>
  </div>
</div>