<div class="container-fluid custom-card-margin">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 fade-short">
        <div class="card">
          <h1 class="card-title text-center pt-2">{{"admin.new.gallery.card.header" | translate:user}}<hr></h1>
          <div class="card-body mr-5 ml-5">
            <form autocomplete="off">
              <div class="form-group">
                <ngx-dropzone class="mt-4" [accept]="'image/png,image/jpeg'" (filesAdded)="onFilesAdded($event)" #dropzone></ngx-dropzone>
                <div class="row m-0 p-0 mt-4 dropzone-default">
                  <div *ngFor="let picture of pictures; let i = index" [attr.data-index]="i" class="col-sm-12 col-md-6 col-lg-4 col-xl-4 m-0 p-0">
                    <div class="p-2">
                      <img class="dropzone-image" id="{{getImageId(i)}}" />
                      <p class="dropdown-remove-button click-pointer text-center mb-0" (click)="remove(i)">Remove</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mt-5 mb-5 float-right">
                <span class="btn-c btn-outline-gray pointer lead mr-2" (click)="back()">
                  {{"admin.new.gallery.links.back" | translate:user}}
                </span>
                <button class="btn-c btn-outline-gray pointer lead" (click)="create()">
                  {{"admin.new.gallery.links.create" | translate:user}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>