<div class="container-fluid footer-red">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4 pt-2 pb-2">
        <h3 class="display-6 text-white">{{"footer.col.location.title" | translate:user}}</h3>
        <ul class="m-0 p-0 pt-2 text-white">
          <li>{{"footer.col.location.address" | translate:user}}</li>
          <li>{{"footer.col.location.city" | translate:user}}</li>
          <li>{{"footer.col.location.country" | translate:user}}</li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-5 pt-2 pb-2">
        <h3 class="display-6 text-white">{{"footer.col.contact.title" | translate:user}}</h3>
        <ul class="m-0 p-0 pt-2 text-white">
          <li>{{"footer.col.contact.telephone" | translate:user}}</li>
          <li>{{"footer.col.contact.fax" | translate:user}}</li>
          <li>{{"footer.col.contact.mail" | translate:user}}</li>
        </ul>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-3 pt-2 pb-2">
        <h3 class="display-6 text-white">{{"footer.col.social.title" | translate:user}}</h3>       
        <a class="social-link" href="https://www.facebook.com/Internacionalni-Univerzitet-Travnik-597163487114171/"><i class="fab fa-facebook text-white"></i></a>
        <a class="social-link" href="https://www.instagram.com/iut_travnik/"><i class="fab fa-instagram text-white"></i></a>
        <a class="social-link" href="https://www.youtube.com/channel/UCoeR2ppJV4etM4ZzUp6DTRA"><i class="fab fa-youtube text-white"></i></a>
      </div>
    </div>
  </div>
  <hr class="hr-light">
  <div class="text-center pb-3">
    <div class="text-white">{{"footer.copyright" | translate:user}}</div>
  </div>
</div>

<!-- In case someone deletes credit, this website was made by Zijah Ribic, the design was made by Bekir Akeljic with the assistance of Zijah Ribic, and the testing was done by Nedim Malicbegovic
-->