<div class="container-fluid">
  <div class="container fade-short">
    <div class="mt-5">
      <div class="row m-0 p-0">
        <a class="btn btn-outline-gray pointer lead" routerLink="/admin/posts/1" routerLinkActive="active">Post</a>
        <a class="btn btn-outline-gray pointer lead ml-2" routerLink="/admin/gallery/1" routerLinkActive="active">Gallery</a>
        <a class="btn btn-outline-gray pointer lead ml-auto" routerLink="/admin/new-gallery" routerLinkActive="active">
          New Gallery
          <i class="material-icons">
          add
          </i>
        </a>
      </div>
    </div>
    <div class="pt-5 pb-5">
      <div class="row">
        <div *ngFor="let picture of pictures; let i = index" [attr.data-index]="i" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 pb-3">
          <div>
            <img src={{picture.url}} alt="image" class="img-fluid">
            <p class="text-center lead remove-button-gallery w-100 pointer" (click)="remove(picture.id)">
              Remove
            </p>
          </div>
        </div>
      </div>
      <nav aria-label="Page Navigation" class="pt-3">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link page-link-black pointer" aria-label="Previous" (click)=previousPage()>
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <div *ngIf=firstPageDistant() class="row p-0 m-0">
            <li class="page-item"><a class="page-link page-link-black pointer" (click)=firstPage()>1</a></li>
            <li class="page-item"><a class="page-link page-link-black cross">...</a></li>
          </div>
          <li class="page-item"><a class="page-link page-link-black pointer" (click)=previousPage()>{{getPreviousPage()}}</a></li>
          <li class="page-item"><a class="page-link page-link-black" routerLink={{getCurrentPageLink()}}>{{getCurrentPage()}}</a></li>
          <li class="page-item"><a class="page-link page-link-black pointer" (click)=nextPage()>{{getNextPage()}}</a></li>
          <div *ngIf=lastPageDistant() class="row p-0 m-0">
            <li class="page-item"><a class="page-link page-link-black cross">...</a></li>
            <li class="page-item"><a class="page-link page-link-black pointer" (click)=lastPage()>{{amountOfPages}}</a></li>
          </div>
          <li class="page-item">
            <a class="page-link page-link-black pointer" aria-label="Next" (click)=nextPage()>
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>