<div class="container-fluid custom-card-margin">
  <div class="container">
    <div class="row m-0 p-0">
      <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2"></div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 fade-short">
        <div class="card">
          <h1 class="card-title text-center pt-2">New Gallery<hr></h1>
          <div class="card-body mr-5 ml-5">
            <form autocomplete="off">
              <div class="form-group">
                <ngx-dropzone class="mt-4" [accept]="'image/png,image/jpeg'" [maxFileSize]="2000" [showImagePreviews]="true" [preserveFiles]="false"></ngx-dropzone>
              </div>
              <div class="mt-5 mb-5 float-right">
                <button class="btn btn-outline-gray pointer lead mr-2" (click)="cancle">
                  Cancle
                </button>
                <button class="btn btn-outline-gray pointer lead" (click)="create">
                  Create
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>