.col-id {
  width: 10%;
}

.col-title {
  width: 15%;
  overflow: hidden;
}

.col-description {
  width: 65%;
  overflow: hidden;
}

.col-controlls {
  width: 10%;
}

.default-paragraph-post {
  max-height: 90px;
}