<nav class="navbar navbar-expand-md navbar-dark navbar-red pl-4 pr-4">
  <div class="container-fluid">
    <a class="navbar-brand pl-1">
      <span routerLink="/home" routerLinkActive="active"><img src="assets/design/header_logo.png" class="logo pointer"></span>
      <div>
        <span class="header-language-holder mr-2" (click)="switchLanguage('ba')"><img src="assets/design/bosnian_flag.png" class="header-language-icon rounded pointer"></span>
        <span class="header-language-holder" (click)="switchLanguage('en')"><img src="assets/design/british_flag.png" class="header-language-icon rounded pointer"></span>
      </div>
    </a>
    <button type="button" class="navbar-toggler ml-auto mb-4" data-target="#navigationList" data-toggle="collapse">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse pr-3 mb-4" id="navigationList">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link-custom pr-3" routerLink="/home" routerLinkActive="active">
            <i class="material-icons">
            home
            </i>
            {{"header.home" | translate:user}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-custom pr-3" routerLink="/news-feed/1" routerLinkActive="active">
            <i class="material-icons">
            library_books
            </i>
            {{"header.news" | translate:user}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-custom pr-3" routerLink="/gallery/1" routerLinkActive="active">
            <i class="material-icons">
            photo_library
            </i>
            {{"header.gallery" | translate:user}}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link-custom pr-3" routerLink="/about-us" routerLinkActive="active">
            <i class="material-icons">
            info
            </i>
            {{"header.about" | translate:user}}
          </a>
        </li>
        <li class="nav-item">
          <div *ngIf="isLoggedIn(); else notLoggedIn">
            <li class="nav-item dropdown">
              <a class="nav-link-custom dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">
                  person
                </i>
                Admin
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item pointer" routerLink="/admin/posts/1" routerLinkActive="active">{{"header.admin.posts" | translate:user}}</a>
                <a class="dropdown-item pointer" routerLink="/admin/new-post" routerLinkActive="active">{{"header.admin.new.post" | translate:user}}</a>
                <a class="dropdown-item pointer" routerLink="/admin/gallery/1" routerLinkActive="active">{{"header.admin.gallery" | translate:user}}</a>
                <a class="dropdown-item pointer" routerLink="/admin/new-gallery" routerLinkActive="active">{{"header.admin.new.gallery" | translate:user}}</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item pointer">
                  <span (click)=logout()>
                    Logout
                  </span>
                </a>
              </div>
            </li>
          </div>
          <!-- <ng-template #notLoggedIn>
            <a class="nav-link-custom" routerLink="/login" routerLinkActive="active">
              <i class="material-icons">
              person
              </i>
              Login
            </a>
          </ng-template> -->
        </li>
      </ul>
    </div>
  </div>
</nav>