.navbar-red {
  
}

.nav-link-custom {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
}

.nav-link-custom.active {
  
}

.logo {
  max-height: 60px;
}

.header-language-icon {
  max-height: 25px;
}